<div class="container" style="margin-top:30px;">
    <div class="d-flex justify-content-center font-weight-bold" style="background-color:#f5f5f5; font-size:25px; margin-left:30px; height:40px; width:150px;">
      会員一覧
    </div>
  <div class="row d-flex justify-content-center">
    <table class="col-9 table table-borderless border-bottom border-top" style="margin-top:30px;">
      <thead>
        <tr>
          <th class="border-dark font-weight-bold bg-light" style="vertical-align:middle;">会員ID</th>
          <th class="border-dark font-weight-bold bg-light" style="vertical-align:middle;">氏名</th>
          <th class="border-dark font-weight-bold bg-light" style="vertical-align:middle;">メールアドレス</th>
          <th class="border-dark font-weight-bold bg-light" style="vertical-align:middle;">ステータス</th>
        </tr>
      </thead>

      <tbody>
      <% @customers.each do |customer| %>
        <tr class="border-top font-weight-bold">
          <td><%= customer.id %></td>
          <td><%= link_to "#{customer.first_name}#{customer.last_name}",admins_customer_path(customer.id), style: "text-decoration:underline;" %></td>
          <td><%= customer.email %></td>
          <td><%= customer.is_delete ? '有効' : '退会' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
